<aside class="sidebar">
  <div class="brand">
    <img src="assets/Logo1.png" alt="Logo EstacionaTec" />
  </div>
  <nav>
    <a routerLink="/dashboard" routerLinkActive="active">▦ <span>Dashboard</span></a>
    <a routerLink="/entrada" routerLinkActive="active">↪ <span>Registrar Entrada</span></a>
    <a routerLink="/saida" routerLinkActive="active">↩ <span>Registrar Saída</span></a>
    <a routerLink="/monitoramento" routerLinkActive="active" aria-label="Câmera ao Vivo"
      >◎ <span>Câmera ao Vivo</span></a
    >
    <a routerLink="/imagens" routerLinkActive="active" aria-label="Imagens Capturadas"
      >▧ <span>Imagens Capturadas</span></a
    >
    <a routerLink="/veiculos" routerLinkActive="active">▰ <span>Veículos</span></a>
    @if (api.isAdmin()) {
      <a routerLink="/pessoas" routerLinkActive="active">♟ <span>Pessoas</span></a>
    }
    <a routerLink="/historico" routerLinkActive="active">◷ <span>Histórico</span></a>
    @if (api.isAdmin()) {
      <a routerLink="/relatorios" routerLinkActive="active">▤ <span>Relatórios</span></a>
    }
    @if (api.isAdmin()) {
      <a routerLink="/usuarios" routerLinkActive="active">♙ <span>Usuários</span></a>
    }
  </nav>
</aside>
